<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div>
    	<p th:text="'Titolo: ' + ${quadro.titolo}" />
    </div>
	<div>
    	<p th:text="'Anno: ' + ${quadro.anno}" />
    </div>
	<div>
    	<p th:text="'Tecnica: ' + ${quadro.tecnica}" />	
    </div>
	<div>
    	<p th:text="'Dimensioni: ' + ${quadro.dimensioni}" />	
    </div>
    <div>
    	<p th:text="'Autore: '" />	<a href="autore?id=${quadro.autore.id}"> <p th:text="${quadro.autore.nome}+' '+${quadro.autore.cognome}"/></a> 	
    </div>
    <p><a href="/index"> torna al menu principale</a></p>
</body>
</html>